/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
    color: inherit; /*eredita il colore*/
}
ul{
    list-style-type: none;
}

/* UTILS */
.container{
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
}

/* HEADER */
header{
    background-color: #fe6900;
    color: white;
    position: fixed;/*alternativa era sticky e top:0;
    per evitare di dare troppo padding al main*/
    width: 100%;
    z-index: 1;
    padding: 15px 0;
    
}
.logo{
    flex-grow: 1;
    text-align: center;
    
}
header .flex-container{
    align-items: center;
}
.header-gender{
    display: flex;
}
.logo> img{
    height: 50px;
}

/* MAIN  */
main{
    padding-top: 120px;
    padding-bottom: 30px;
}
.product{
    width: calc(100% / 3);
    padding: 10px;
    position: relative;
}
.product-hover{
    display: none;
}
.product:hover .product-hover{
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-img{
    position: relative;
}
.product-like{
    
    position: absolute;
    right: 5px;
    top: 20px;
}
.product-like:hover{
    color: red;
}
.product-label{
    position: relative;
    left: 0;
    bottom: 50px;
}
.sostenibilita, .discount{
    display: inline-block;
    padding: 5px;
}
.discount{
    background-color: #ff0200;
    color: white;
}
.sostenibilita{
    background-color: #008000;
    color: white;
}
.discaunted-price{
    color: red;
}
.started-price{
    text-decoration: line-through;
}

/* FOOTER  */
footer{
    background-color: black;
    color: white;
    padding: 15px 0;
}
.footer-flex{
    display: flex;
    justify-content: space-between;
}